@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Playfair+Display&family=Poppins:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.main{
    background-image: url("Multimedia/Images/Background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(2500px, 100vw);
    height: 97vh;       /*67*/
    position: relative;
}

.main .box{
    height: 97vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    /* background-color: rgba(247, 242, 235, 0.738); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70vw;
    margin: auto;
    height: 75px;
}

nav img{
    width: 150px;
    position: relative;
    z-index: 1;
}

nav button{
    position: relative;
    z-index: 1;
}


.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 75px);  /* due to nav bars hight*/
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero > :nth-child(1){
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero > :nth-child(2)
{
    font-weight: 700px;
    font-size: 24px;
    text-align: center;
}

.hero > :nth-child(3)
{
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
}

.seperation{
    background-color: rgba(128, 128, 128, 0.459);
    height: 7px;
}

.btn{
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-weight: 550;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 4px 24px;
    cursor: pointer;
}

.btn-red{
    background-color: rgb(241, 10, 10);
    font-size: 24px;
    padding: 3px 24px;
    border-radius: 2px;
    border: none;
    /* margin: 4px;  */
}

.btn-red-sm{
    background-color: rgb(241, 10, 10);;
    border: none;
    padding: 5px 15px;
    margin: 18px;
}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.main input{
    font-size: 14px;
    padding: 12px 154px 12px 12px;
    border-radius: 2px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.066);
    border: 1px solid rgba(255, 255, 255, 0.552);
    /* margin: 4px; */
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 70vw;
    color: white;
    height: 90vh;
}

.secImg img{
    max-width: 38vw;
    position: relative;
    z-index: 10;
}

.secImg{
    position: relative;
    z-index: -1;
}

.secImg video {
    max-width: 29vw;
    position: absolute;
    top: 83px;
    right: 62px;
}

.thirdImg{
    max-width: 38vw;
    position: relative;
    z-index: -1;
}

.thirdImg video{
    max-width: 25vw;
    position: absolute;
    top: 40px;
    right: 100px;
    z-index: -10;
}

section.first > div{
    display: flex;
    flex-direction: column;
}

section.first > div :first-child{
    font-size: 48px;
    font-weight: bolder;
}

section.first > div :nth-child(2)
{
    font-size: 28px;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.faqbox{
    display: flex;
    color: white;
    background-color: rgba(78, 75, 75, 0.759);
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    margin: 12px auto;
    max-width: 70vw;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.faqbox span{
    margin: 4px;
}

.faqbox:hover{
    background-color: rgba(255, 255, 255, 0.404);
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}

footer .questions{
    padding: 34px 0px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.footer a{
    /* text-decoration:; */
    color: white;
    font-size: 14px;
}

/* for sec page */
@media screen and (max-width: 1400px){
    /* body{
        background-color: red;
    } */

    .first{
        flex-wrap: wrap;
    }

    .secImg img {
        max-width: 84vw;
    }

    .secImg video {
        max-width: 62vw;
        position: absolute;
        top: 85px;
        right: 71px;
    }

    .thirdImg{
        max-width: 84vw;
    }

    .thirdImg video{
        max-width: 48vw;
        position: absolute;
        top: 41px;
        right: 113px;
    }
}

@media screen and (max-width: 700px) {
    /* body{
        background-color: red;
    } */

    .main{
        height: 95vh;
    }

    .main .box{
        height: 95vh;
    }

    .main input{
        padding: 12px 50px 12px 41px;
    }

    nav{
        /* background-color: red; */
        flex-wrap: wrap;
        /* margin: 14px; */
    }

    .hero-buttons{
        /* background-color: red; */
        flex-wrap: wrap;
        flex-direction: column;
    }

    button.btn.btn-red{
        /* background-color: white; */
        margin-bottom: 12px;
        font-size: 20px;
    }

    .secImg video{
        max-width: 61vw;
        position: absolute;
        top: 56px;
        right: 50px;
    }

    .thirdImg video{
        max-width: 54vw;
        top: 25px;
        right: 64px;
    }

}
